/* @theme perutheme0 */

@import url('https://fonts.googleapis.com/css?family=Noto Sans JP&display=swap');

@import 'default';

section {
    font-family: 'Noto Sans JP', serif;
    background-color: #fff;
}

h1,h2,h3,h4 {
    color: #244;
    border-bottom: 1px solid #ccc;
    line-height: 1.5em;
}

em {
    color: #888;
    font-size: smaller;
}